* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Sintony", serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
        }
        .sintony-regular {
        font-family: "Sintony", serif;
        font-weight: 400;
        font-style: normal;
        }

        .sintony-bold {
        font-family: "Sintony", serif;
        font-weight: 700;
        font-style: normal;
        }


        body {
            background-color: black;
            color: white;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        .container {
            max-width: 800px;
            text-align: center;
            animation: fadeIn 1.5s ease-in;
        }

        .logo {
            width: 200px;
            margin-bottom: 4rem;
            opacity: 0;
            animation: fadeIn 1.5s ease-in forwards;
        }

        .main-message {
            font-size: 1.1rem; /* Smaller desktop font size */
            line-height: 1.6;
            margin-bottom: 4rem;
            font-weight: 300;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .main-message2 a {
            font-size: 1.1rem; /* Smaller desktop font size */
            line-height: 1.6;
            margin-bottom: 4rem;
            font-weight: 300;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 150px;
            background-color: white;
            color: black;
            border-radius: 5px;
            text-decoration: none;
        }

        .main-message2 a:hover {
            font-size: 1.1rem; /* Smaller desktop font size */
            line-height: 1.6;
            margin-bottom: 4rem;
            font-weight: 300;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 150px;
            background-color: black;
            color: white;
            border: 2px solid white;
            border-radius: 5px;
            text-decoration: none;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @media (max-width: 600px) {
            .container {
                padding: 1rem;
            }
            
            .main-message {
                font-size: 1rem;
            }

            .main-message2 a {
                font-size: 1rem;
                padding: 15px 50px;
            }
            
            .email-heading {
                font-size: 0.9rem;
            }
            
            .logo {
                width: 150px;
                margin-bottom: 3rem;
            }
        }
